*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: #ffffff;
  --color-text: #111111;
  --color-muted: #888888;
  --color-border: #e8e8e8;
  --font-main: 'DM Sans', sans-serif;
  --font-mono: 'DM Mono', monospace;
}

html {
  font-size: 14px;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-main);
  font-weight: 300;
  min-height: 100vh;
}
