---
const { current } = Astro.props;
---

<header>
  <div class="header-left">
    <h1><a href="/">Fumiko Cho</a></h1>
    <p>Art Direction / Design</p>
  </div>
  <nav>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
